/* CONTENEDOR GENERAL */
.contenido.restos {
  padding: 20px;
}

/* GRILLA */
.grilla-restos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

/* ITEM */
.resto {
  cursor: pointer;
}

/* IMÁGENES */
.resto img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

