 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  background-color: #e6e6e6;
  background-image: url("fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #111;
  min-height: 100vh;
}


nav {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 20px;
}

.inicio {
  height: 100vh;
  position: relative;
}


.inicio {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guion {
  position: absolute;
  bottom: 40px;
  left: 40px;
  font-size: clamp(32px, 6vw, 64px);
  animation: blink 1.2s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
